<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="public/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body { padding-top: 60px; /* 60px to make the container go all the way
      to the bottom of the topbar */ }
    </style>
    <link href="public/css/bootstrap-responsive.min.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <style>
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span2">
        	<img src="http://i.imgur.com/Asf2J.jpg" style=" width: 200px; height: 261px;">
        </div>
        <div class="span2">
          <img src="http://i.imgur.com/Asf2J.jpg" style=" width: 200px; height: 261px;">
        </div>
        <div class="span2">
        	<img src="http://i.imgur.com/Asf2J.jpg" style=" width: 200px; height: 261px;">
        </div>
        <div class="span2">
        	<img src="http://i.imgur.com/Asf2J.jpg" style=" width: 200px; height: 261px;">
        </div>
        <div class="span2">
        	<img src="http://i.imgur.com/Asf2J.jpg" style=" width: 200px; height: 261px;">
        </div>
        <div class="span2">
        	<img src="http://i.imgur.com/Asf2J.jpg" style=" width: 200px; height: 261px;">
        </div>
      </div>
      <hr>
      <div class="pagination">
        <ul>
          <li class="">
            <a href="#">
              Prev
            </a>
          </li>
          <li class="">
            <a href="#">
              Next
            </a>
          </li>
          <li class="">
            <a href="#">
              2
            </a>
          </li>
          <li class="">
            <a href="#">
              3
            </a>
          </li>
          <li class="">
            <a href="#">
              n
            </a>
          </li>
        </ul>
      </div>
      <div>
        © Company 2012
      </div>
    </div>

    <style>
      
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script src="public/js/bootstrap.js">
    </script>
  </body>
</html>
